<section class="contact-preview">
    <section class="info">
        <!-- could also be [routerLink="['pet', pet._id]"] if there are more params -->
        <a routerLink="/contact/{{contact._id}}" class="data">
            <p>Name: {{contact.name}}</p>
            <p>Email: {{contact.email}}</p>
        </a>
        <section class="actions">
            <button (click)="onRemoveContact($event)" class="remove-btn">X</button>
        </section>
    </section>
    <img src="https://robohash.org/{{contact._id}}?set=set5&size=100x100" alt="">
</section>