.main-app {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;

    // wraps the header and footer
    .container {
        width: 100%;
    }

    header {
        background-color: #ffcd2b;
        color: #fff;
        padding-block: 1rem;
        display: flex;

        h1 {
            font-size: 2.5em;
            margin: 0;
        }
    }

    main {
        display: flex;
    }

    .footer {
        background-color: #24292e;
        color: #fff;
        text-align: center;
        width: 100%;
        padding: 10px 0;

        p {
            margin-bottom: 0;
        }

        a {
            color: #fff;

            &:hover {
                color: #e6e6e6;
            }
        }
    }
}